@tailwind base;

@layer base {
  .custom-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
  }
  .nav-container {
    padding-top: 1.25rem; /* Equivalent to py-5 in Tailwind */
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .linkFont {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
/* 
  .section1Style {
    max-width: 1440px;
    min-height: 723.89px;
    background-image: url("./assets/backgroundImage1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 25px;
    padding-top: 45px;
    font-family: "Poppins", sans-serif;
  } */

  .section1Style {
    width: 100%;
    min-height: 723.89px;
    background-image: url('./assets/defaultBackgroundImage.png'); /* Default background image */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: right;
    padding-right: 25px;
    padding-top: 45px;
    font-family: "Poppins", sans-serif;
  }
  .nextDiv {
    max-width: 609px;
    min-height: 447.36px;
    border-radius: 10px 10px 10px 10px;
    background: #fff3e3;
    padding: 40px 0px 15px 30px;
  }
  .nextDiv p:nth-child(1) {
    max-width: 140px;
    min-height: 24.24px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 3px;
    text-align: left;
  }
  .h2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .nextDiv h2 {
    max-width: 559px;
    font-family: "Poppins", sans-serif;
    font-size: 52px;
    font-weight: 700;
    text-align: left;
    color: #b88e2f;
    /* margin-top: 15px; */
  }
  .nextDiv p:nth-child(4) {
    max-width: 546px;
    min-height: 52.51px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 3px;
    text-align: left;
  }
  .section1Style button {
    max-width: 222px;
    min-height: 74px;
    padding: 25px 72px 25px 72px;
    background: #b88e2f;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    margin-top: 20px;
  }

  /* Section Two Here */
  .section2 {
    width: 100%;
    min-height: 76.71px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section2 h3 {
    max-width: 300px;
    min-height: 48px;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #333333;
  }
  .section2 p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #666666;
    margin-bottom: 45px;
  }
  .container1 {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .imageStyle {
    max-width: 381px;
    /* min-height: 480px; */
  }
  .browesSpan {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  /* h4 {
    text-align: center;
    margin-bottom: 20px; 
  } */
  .products {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    margin-left: 45px;
    margin-top: 45px;
    position: relative; */
  }
  .theProducts {
    margin: 0px;
    padding: 0px;
    
    position: relative;
    /* z-index: 2; */
  }

  .percentage {
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the same height as the width */
    border-radius: 50%;
    position: absolute;
    top: 25px; /* Adjust as needed */
    right: 170px;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Optional: Add a background for better visibility */
    color: white; /* Change to match your design */
    padding: 15px 8px; /* Optional: Add padding */
    /* border-radius: 24px;  */
    font-size: 0.9rem; /* Adjust font size as needed */
  }
  .hoverOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; /* Hide div A initially */
    /* opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1; */
  }

  .theProducts:hover .hoverOverlay {
    display: block;
  }

  .network {
    max-width: 202px;
    min-height: 48px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
    /* margin-top: 150px;
    margin-left: 45px;
    margin-right: 45px; */
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #b88e2f;
    cursor: pointer;
    padding: 0 40px;
  }
  .overlayIcons {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    cursor: pointer;
    gap: 15px;
  }
  .iconItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: auto;
    /* margin-left: 15px; */
    margin-top: 20px;
    cursor: pointer;
  }
  .toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0.9;
    z-index: 1000;
    font-size: 14px;
  }

  
  /* .productImages {
    display: block; 
  } */
  /* .produtImg {
    max-width: 285px;
    min-height: 301px;
  } */
  /* .theProducts {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: Center content inside each product */
  /* padding: 10px; Adjust as needed */
  /* border: 1px solid #ccc; Optional: Add border around each product */
  /* border-radius: 8px; Optional: Add rounded corners */
  /* }
 */
  /* .prodeuctImages {
    max-width: 285px;
    min-height: 301px;
  } */
  .ourProducts {
    max-width: 100%;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-top: 25px;
  }
  .productsName {
    /* max-width: 123px; */
    min-height: 29px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    color: #3a3a3a;
    margin-top: 20px;
  }
  .productsDescription {
    /* max-width: 100%; */
    min-height: 24px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #898989;
  }
  .mainPrice {
    /* max-width: 131px; */
    min-height: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #3a3a3a;
  }
  .cancelled {
    /* max-width: 110px; */
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #b0b0b0;
    /* margin-left: 45px; */
    text-decoration: line-through;
  }
  .spans {
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
  }
  .showMoreButton {
    /* max-width: 245px; */
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border: 2px solid #b88e2f;
    padding: 10px 65px;
    margin: auto 37%;
  }

  /* cart blur starts */
/* Apply blur effect to background when cart is open */
.blur-background {
  filter: blur(5px); /* Adjust the blur value as needed */
  transition: filter 0.3s ease-in-out;
}

/* Style for the cart container */
.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%; /* Adjust the size as needed */
  height: 100vh;
  background-color: white;
  z-index: 100; /* Ensure it stays on top */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

  /* cart blur ends */
  /* SECTION3 */

  /* .firstDot {
    background-color: #000; 
  }
  
  .otherDot {
    background-color: #ccc; 
  } */
  /* className={`dot ${currentSlide === index ? "firstDot" : "otherDot"}`}
 */
  .section3Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
    grid-template-rows: 1fr; /* 1 row */
    gap: 20px; /* Adjust the gap between the grid items as needed */
    align-items: center; /* Align items vertically in the center */
    padding: 20px; /* Add padding if necessary */
    background: #fcf8f3;
  }
  .sec3Row1 {
    display: flex;
    flex-direction: column;
  }
  .sec3Row1 p:nth-child(1) {
    max-width: 422px;
    min-height: 96px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #3a3a3a;
  }
  .sec3Row1 p:nth-child(2) {
    max-width: 368px;
    min-height: 48px;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #616161;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .sec3Row1 button {
    max-width: 176px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b88e2f;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
  }

  .sec3Row2 {
    position: relative;
  }

  .sec3Row2 img {
    width: 100%;
    height: auto; /* Ensure the image scales properly */
  }

  .bgWhiteContent {
    max-width: 217px;
    min-height: 130px;
    position: absolute;
    bottom: 0;
    left: 0;
    /* background-color: white; Assuming you want a white background */
    padding: 10px; /* Add some padding for spacing */
    z-index: 1; /* Ensure it stays on top of the image */
    display: flex;
  }
  .containerRoom1 {
    max-width: 217px;
    min-height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background: #ffffffb8;
    padding-left: 15px;
    padding-right: 15px;
  }
  .arrowRight {
    width: 48px;
    height: 48px;
    background: #b88e2f;
    position: absolute;
    bottom: 0;
    right: -40px;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .arrowRight img {
    width: 18px;
    height: 12px;
  }
  .room1 {
    width: 50%;
    min-height: 24px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: #ffffff;
  }
  .room1 img {
    max-width: 27px;
    height: 1px;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .room1 p {
    max-width: 83px;
    min-height: 24px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    background: none;
  }

  .imgContainer {
    position: relative;
    display: inline-block; /* Adjusts the size based on the image */
  }

  .img42 {
    display: block; /* Ensures that the image takes up the full width of the container */
  }

  .arrowrightpoint {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    position: absolute;
    bottom: 160px;
    right: -20px;
    background: #ffffff;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .arrowrightpoint img {
    width: 7px;
    height: 14px;
  }
  .containerRoom1 p:nth-child(2) {
    width: 168px;
    height: 34px;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    color: #3a3a3a;
  }
  .dotsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-top: 25px;
  }

  /* SECTION FOUR */
  .share {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .share p:nth-child(1) {
    max-width: 222px;
    min-height: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #616161;
  }
  .share p:nth-child(2) {
    max-width: 356px;
    min-height: 48px;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #3a3a3a;
  }
  /* .section4Container {
    width: 95%;
    display: grid;
    grid-template-columns: 40% 20% 40%; 
    gap: 10px; 
    margin-left: 15px;
  } */
  /* .colA {
    width: 35%;
  }
  .colADiv1 {
    display: flex;
    gap: 15px;
  }
  .colADiv1 img:nth-child(1) {
    max-width: 180px;
    height: 382px;
  }
  .colADiv1 img:nth-child(2) {
    max-width: 300px;
    height: 312px;
    position: relative;
    top: 65px;
  }

  .colADiv2 {
    display: flex;
    gap: 15px;
    margin-top: 15px;
  }
  .colADiv2 img:nth-child(1) {
    max-width: 180px;
    height: 382px;
  }
  .colADiv2 img:nth-child(2) {
    max-width: 300px;
    height: 312px;
    position: relative;
    bottom: 3px;
  }

  .colB {
    width: 15%; */

    /* height: 721px; */
  /* }
  .colB img {
    max-width: 255px;
    position: relative;
    top: 165px;
  }

  .colC {
    width: 35%;
    display: flex;
    flex-direction: column;
  }
  .colCDiv1 {
    display: flex;
    gap: 15px;
  }
  .colCDiv1 img:nth-child(1) {
    max-width: 180px;
    height: 250px;
    position: relative;
    top: 65px;
  }
  .colCDiv1 img:nth-child(2) {
    max-width: 260px;
    height: 312px;
  }
  .colCDiv2 {
    display: flex;
    gap: 15px;
    margin-top: 15px;
  }

  .colCDiv2 img:nth-child(1) {
    max-width: 180px;
    height: 382px;
  }
  .colCDiv2 img:nth-child(2) {
    max-width: 280px;
    height: 312px;
    position: relative;
    bottom: 3px;
  } */

  /* FOOTER CONTAINER */
  .footer {
    width: 100%;
  }
  .footerInfo {
    display: flex;
    flex-direction: row;
    gap: 160px;
  }
  .linksList {
    display: flex;
    flex-direction: row;
    gap: 120px;
  }
  .linksList ul li {
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .listFormFlex {
    display: flex;
    gap: 65px;
  }
  fieldset p {
    margin-bottom: 40px;
  }
  .fieldsetFlex {
    display: flex;
    gap: 15px;
  }
  .fieldsetFlex input {
    border-bottom: 1px solid #000000;
    padding-right: 30px;
  }
  .fieldsetFlex button {
    border-bottom: 1px solid #000000;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }
  .heads {
    color: #9f9f9f;
  }
  .footer {
    width: 100%;
    padding-top: 50px;
    padding-left: 25px;
    border-top: 1px solid #0000002b;
    margin-top: 25px;
  }
  .leftSide h4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #000000;
  }
  .leftSide p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #9f9f9f;
    margin-top: 50px;
  }
  .lastContent {
    border-top: 1px solid #d9d9d9;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-right: 55px;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  /* hand Burger starts here */
  .dropbtn {
    max-width: 50px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; /* Position dropdown directly below the hamburger */
    left: 50%; /* Start positioning from the horizontal center */
    transform: translateX(
      -50%
    ); /* Center the dropdown relative to the hamburger */
    padding: 10px 0;
    border-radius: 5px;
  }

  .dropdown-content a {
    color: black;
    padding: 7.3px 0px;
    text-decoration: none;
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    text-align: center;
  }
  .dropdown-content div a {
    color: rgb(251, 243, 243);
    padding: 7.3px 0px;
    text-decoration: none;
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    text-align: center;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
  }
  /* ENDS */

  /* Handburger stlying */
  .menu {
    display: none;
  }

  @media (max-width: 1075px) {
    .section4Container {
      width: 80%;
    }
    .section3Container {
      /* width: 100vw; */
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 4 columns with equal width */
      grid-template-rows: 2fr; /* 1 row */
      gap: 20px; /* Adjust the gap between the grid items as needed */
      align-items: center; /* Align items vertically in the center */
      padding: 20px; /* Add padding if necessary */
      background: #fcf8f3;
    }
    .ourProducts {
      margin-top: 5px;
    }
  }

  @media (max-width: 1024px) {
    .products {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
      margin: auto;
    }
    .ourProducts {
      margin: auto;
    }
  }
  @media (max-width: 990px) {
    .hidden {
      display: none;
    }
    .block {
      display: block;
    }
    nav ol {
      display: flex;
      justify-content: space-evenly;
    }
    .custom-style {
      display: none;
    }
    .menu {
      display: flex;
    }
    .section4Container {
      /* width: 95%; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center; /* Centers the grid horizontally */
      align-items: center; /* Centers the grid vertically */
      margin: auto 145px;
    }
    .footerInfo {
      display: block;
    }
  }
  @media (max-width: 768px) {
    .products {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
      margin: auto;
    }
    .ourProducts {
      margin: auto;
    }
    .section3Container {
      /* width: 100vw; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .section4Container {
      width: 45%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center; /* Centers the grid horizontally */
      align-items: center; /* Centers the grid vertically */
      margin: auto 105px;
    }
    .colADiv1 {
      display: block;
      margin: auto 120px;
      margin-bottom: 25px;
      /* align-items: center;
      justify-content: center; */
    }
    .colADiv2 {
      display: block;
      margin: auto 120px;
      margin-bottom: 85px;
    }
    .colB {
      display: block;
      margin: auto 120px;
      margin-bottom: 85px;
    }
    .colCDiv1 {
      display: block;
      margin: auto 120px;
      margin-bottom: 85px;
    }
    .colCDiv2 {
      display: block;
      margin: auto 120px;
      margin-bottom: 85px;
    }
    .listFormFlex {
      display: block;
      /* gap: 65px; */
    }
    .container1 {
      display: block;
      align-items: center;
      justify-content: center;
    }
    .container1 .imageStyle {
      width: 300px;
      margin: auto;
    }
  }
  /* @media {max-width: ;
    
  } */

  @media (max-width: 480px) {
    .section1Style {
      width:100%;
    }
    .nextDiv {
      max-width: 405px;
    }
    .products {
      grid-template-columns: 1fr; /* 1 column on mobile screens */
      width: 90%; /* Adjust width for a centered layout */
      margin: auto; /* Center the container horizontally */
    }
    .share p:nth-child(1) {
      font-size: 15px;
    }
    .share p:nth-child(2) {
      font-size: 25px;
    }
  }

  /* h1 {
    @apply text-2xl;
  } */

  /* ... */
}
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
